{% extends "admin_templates/admin_base.html" %}
{% block content %}

<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#">Dashboard</a>
                    </li>
                    <li>Tables</li>
                    <li class="active">Data Tables</li>
                </ul>
                <!--breadcrumbs end -->
                <h1 class="h1">Data tables</h1>
            </div>
        </div>

        <div id="tableName" style="display:none">{{tableName}}</div>
        <div id="columns" style="display:none">{{columns}}</div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">

                            <a id="show_users_table" href="users">Users</a>
                            &emsp;&emsp;&emsp;
                            <a id="show_articles_table" href="articles">Articles</a>

                            <script>$("#show_" + "{{tableName}}" + "_table").attr("style","color:#1abc9c");</script>

                        </h3>
                        <div class="actions pull-right">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="table" class="table stripe table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                  {% for c in columns %}
                                    <th>{{c}}</th>
                                  {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in records %}
                                <tr>
                                {% for c in columns %}
                                    <td>{{r[c]}}</td>
                                {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<script>
$(document).ready(function() {

    columns_str = $("#columns").html();
    tableName = $("#tableName").html();
    columns = columns_str.substring(0,columns_str.length-1).split(",");
    var fields = new Array();
    for(var i = 0; i < columns.length; i++){
      column = columns[i].substring(2,columns[i].length-1);
      field = {"label":column,"name":column};
      fields[i]=field;
    }

    editor = new $.fn.dataTable.Editor({
      ajax: "/admin/insert_table/",
      table: "#table",
      fields:fields
    });

    $('#table').dataTable({
      dom: 'Bfrtip',
      select: true,
      buttons:[
        'pageLength', 'copy', 'excel', 'pdf', 'print', 'colvis',
        {extend: 'create', editor: editor},
        {extend: 'edit', editor: editor},
        {extend: 'remove', editor: editor},
      ]
    });

    $("#table tbody").on("dblclick", "td", function(){
      td = $(this);
      txt = td.html();
      input = $("<input type='text'>")
      input.val(txt);
      td.html(input);
      input.focus();
    });

    $("#table tbody").on("blur", "td", function(){
      td = $(this);
      input = td.children();
      txt = input.val();
      td.html(txt);

      index = td.index();
      id = td.parent().children().first().html();
      columns_str = $("#columns").html();
      tableName = $("#tableName").html();
      columns = columns_str.substring(0,columns_str.length-1).split(",");
      for(var i = 0; i < columns.length; i++){
        columns[i] = columns[i].substring(2,columns[i].length-1);
      }

      type = columns[index]
      // console.log(type);
      console.log(columns);
      data = {"id":id,"type":type,"edit_data":txt,"tableName":tableName};
      // $.post("/admin/edit_table/",
      // {
      //   'd1':'username'
      // },
      // function(data){
      //   alert(data);
      // });
      $.ajax({
        type: "POST",
        url: "/admin/edit_table/",
        data:data,
        success: function(data){
          console.log(data.success);
        },
        dataType: "json",
        error: function(){
          alert("error");
        }
      });
    });

    $(".DTE_FROM_Buttons button").on("click",function(){
      alert('yes');
    });

});
</script>

{% endblock %}
