@charset "utf-8";

body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,iput{margin:0;padding:0;}

body{font-size:12px;}

img{border:none;}

li{list-style:none;margin-left:auto;margin-right:auto;}

input,select,textarea{outline:none;border:none;}

textarea{resize:none;}

a{text-decoration:none;}
a:link {color: #000000; text-decoration: none; } 
a:visited { color: #000000; text-decoration: none; }
a:hover { color: #999999; text-decoration: none; }
a.a2{text-decoration:none;}
a.a2:link {color: #ffffff; text-decoration: none; } 
a.a2:visited { color: #ffffff; text-decoration: none; }
a.a2:hover { color: #999999; text-decoration: none; }
/* CSS Document */

/*����*/
.comwidth{width:1366px;margin-left:auto;margin-right:auto;}

/*topbar*/
.topbar{height:140px;background-color:#ffffff;}

.fl{float:left;}
.fr{float:right;}






