<div class="passage">
  <div class="">

    <div class="bang fl">
      <div class="blue"><h2 align="center" class="STYLE14 STYLE15">办公信息</h2></div>
      <div class="blank">
        <ul class="bg STYLE12">

          {% for i in articles.bgxx%}
          <li class="STYLE13"><a href="/article/{{i.id}}" target="_blank">{{i.title}}</a>></li>
          {% endfor %}
          <li class="STYLE13"><a href="/article/1" target="_blank">{{articles.bgxx[0].title}}</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>



        </ul>
      </div>
    </div>

    <div class="bang2 fl">
      <div class="blue"><h2 align="center" class="STYLE16">本科教学教务</h2></div>
      <div class="blank">
        <ul class="bg STYLE12">
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank"> ...</a></li>
        </ul>
      </div>
    </div>

    <div class="bang2 fl">
      <div class="blue"><h2 align="center" class="STYLE16">学生工作</h2></div>
      <div class="blank">
        <ul class="bg STYLE12">
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
        </ul>
      </div>
    </div>

    <div class="bang2 fl">
      <div class="blue"><h2 align="center" class="STYLE16"> 科研与研究生</h2></div>
      <div class="blank">
        <ul class="bg STYLE12">
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
        </ul>
      </div>
    </div>

    <div class="bang2 fl">
      <div class="blue"><h2 align="center" class="STYLE16">对外合作交流</h2></div>
      <div class="blank">
        <ul class="bg STYLE12">
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
          <li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
