<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>资讯管理学院</title>
		<meta name="description" content="A Collection of Page Transitions with CSS Animations" />
		<meta name="keywords" content="page transition, css animation, website, effect, css3, jquery" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/page-transitions/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/page-transitions/multilevelmenu.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/page-transitions/component.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/page-transitions/animations.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/index-head.css">
		<link rel="stylesheet" type="text/css" href="/static/css/index-articles.css">
		<link rel="stylesheet" type="text/css" href="/static/css/index-posters.css">
		<script src="/static/js/page-transitions/modernizr.custom.js"></script>
		<script src="http://dreamsky.github.io/main/blog/common/jquery.min.js"></script>
		<script src="/static/js/st0n3.js"></script>
	</head>
	<body>
		<div class="pt-triggers">
			<a href="#">
				<img id="iterateEffects" src="/static/images/icon_001@3x.png" alt="下一页" width="25" height="25">
			</a>
		</div><!-- /triggers -->

		<div class="top-banner clearfix">
			<a href="/">
				<img src="/static/images/sysu.jpg" alt="中山大学资讯管理学院" />
			</a>
			<div class="fr search">
				<a href="#">
					<img src="/static/images/En.png" alt="en" align="middle" style="padding-right:10px">
				</a>
				<a href="#">
					<img src="/static/images/searicon.png" alt="搜索icon" align="middle" style="padding-right:10px">
				</a>
				<input type="text" class="search_box">
			</div>
			<div class="menu fr">
				<strong>学院概况&nbsp;</strong>
				<a href="#" class="pull-down"><img src="/static/images/delta.png" alt="delta"></a>
			</div>
		</div>


		<div class="navi">
			<div class="navi-1">
				<span><a>学院概况</a></span><span><a>信息公告</a></span><span><a>学院活动</a></span>
			</div>
			<div class="white-line"></div>
			<div class="navi-2">
				<div>
					<span><a>学院介绍</a></span><span><a>师生团队</a></span><span><a>学院专业</a></span>
				</div>
				<div>
					<span><a>办公信息</a></span><span><a>学生工作</a></span><span><a>本科教学教务</a></span>
					<span><a>科研与研究生</a></span><span><a>对外交流合作</a></span>
				</div>
				<div>
					<span><a>正在举行</a></span><span><a>即将举行</a></span><span><a>全部活动</a></span>
				</div>
			</div>
		</div>


		<div id="pt-main" class="pt-perspective">
			<div class="pt-page pt-page-1" style="padding-top:10%;padding-left:1%;">
				<a href="/static/images/beijing2.jpg">
					<img src="/static/images/dlicon.png" alt="下载" class="dlicon"/>
				</a>
				<div class="xygk">
					<span><a>学院介绍</a></span><span><a>师生团队</a></span><span><a>学院专业</a></span>
				</div>
			</div>
			<div class="pt-page pt-page-2">
				<div class="for-padding"></div>
				<div class="articles">
					<div class="articles-1 fl">
						<span class="articles-title">办公信息</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span class="articles-last">...</span>
					</div>
					<div class="articles-1 fl">
						<span class="articles-title">本科教学教务</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span class="articles-last">...</span>
					</div>
					<div class="articles-1 fl">
						<span class="articles-title">学生工作</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span class="articles-last">...</span>
					</div>
					<div class="articles-1 fl">
						<span class="articles-title">科研与研究生</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span class="articles-last">...</span>
					</div>
					<div class="articles-1 fl">
						<span class="articles-title">对外合作交流</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span>资讯管理学院“两...</span>
						<span class="articles-last">...</span>
					</div>
				</div>
			</div>
			<div class="pt-page pt-page-3">
				<a href="/static/images/beijing2.jpg">
					<img src="/static/images/dlicon.png" alt="下载" class="dlicon"/>
				</a>
				<div class="for-padding"></div>
				<div class="posters">
						<div class="poster fl">
							<img src="/static/images/lac3.jpg " alt="焕文杯" onmouseover="this.src='/static/images/niubi.jpg'" onmouseout="this.src='/static/images/lac3.jpg'"/>
						</div>
						<div class="poster fl">
							<img src="/static/images/middleac.jpg" alt="RM">
						</div>
						<div class="poster fl">
							<img src="/static/images/rac.jpg"alt="交流">
						</div>
				</div>
			</div>
		</div>

		<div class="pt-message">
			<p>亲，你的浏览器不支持 CSS 动画，请使用 Chrome,Firefox,Safari 等浏览器浏览.</p>
		</div>
		<script src="/static/js/page-transitions/jquery.dlmenu.js"></script>
		<script src="/static/js/page-transitions/pagetransitions.js"></script>
	</body>
</html>
