<!DOCTYPE html>
<html>
<head>
<meta charset="utf=8">
<title>资讯管理学院</title>
<link type="text/css" rel="stylesheet" href="/static/css/st0n3.css">
</head>
<body>
  <div class="frame frame1">
  	<a href="/static/images/beijing2.jpg">
  		<img src="/static/images/dlicon.png" alt="下载" class="dlicon"/>
  	</a>
  </div>
  <div class="frame frame2">
  	<a href="/static/images/beijing2.jpg">
  		<img src="/static/images/dlicon.png" alt="下载" class="dlicon"/>
  	</a>
  </div>
  <div class="frame frame3">
  	<a href="/static/images/beijing2.jpg">
  		<img src="/static/images/dlicon.png" alt="下载" class="dlicon"/>
  	</a>
  </div>
</body>
