{% extends "base.html" %}
{% block content %}
<div class="frame">
	<div class="comwidth">
		<div class="searchbox">
			<span class="searchlogo"><a href=""><img src="/static/images/searchicon.png" alt="搜索icon" align="middle"></a></span>
			<input type="text" class="search_text"style="background-color:rgba(189,195,199,0.5);border:none;">
	  </div>
	</div>
	<div class="passage">
		<div class="">
			<div class="bang fl">
				<div class="blue"><h2 align="center" class="STYLE14 STYLE15">办公信息</h2>
				</div>
				<div class="blank">
					<ul class="bg STYLE12">
						<li class="STYLE13"><a href="/article/1" target="_blank">资讯管理学院“两...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
					</ul>
				</div>
			</div>
			 <div class="bang2 fl">
				<div class="blue"><h2 align="center" class="STYLE16">本科教学教务</h2>
				</div>
				<div class="blank">
					<ul class="bg STYLE12">
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank"> ...</a></li>
					</ul>
			  </div>
			</div>
			<div class="bang2 fl">
				<div class="blue"><h2 align="center" class="STYLE16">学生工作</h2>
				</div>
				<div class="blank">
					<ul class="bg STYLE12">
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
					</ul>
				</div>
			</div>
			<div class="bang2 fl">
				<div class="blue"><h2 align="center" class="STYLE16"> 科研与研究生</h2>
				</div>
				<div class="blank">
					<ul class="bg STYLE12">
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
					</ul>
				</div>
			</div>
			<div class="bang2 fl">
				<div class="blue"><h2 align="center" class="STYLE16">对外合作交流</h2>
				</div>
				<div class="blank">
					<ul class="bg STYLE12">
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中山大学关...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">转发：中共中山大...</a></li>
						<li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="jt"><a href="#"><img src="/static/images/icon_001@3x.png" alt="jiantou" width="25" height="25" align="middle"></a></div>
</div>
{% endblock %}
