{% extends "base.html" %}
{% block content %}
<div class="frame">
	<div class="comwidth">
		<div class="searchbox">
			<span class="searchlogo"><a href=""><img src="/static/images/searchicon.png" alt="搜索icon" align="middle"></a></span>
			<input type="text" class="search_text"style="background-color:rgba(189,195,199,0.5);border:none;">
	  </div>
	</div>
	<div class="passage">
	  <div class="">

			{% for t in type %}
			<div class="bang2 fl">
				<div class="blue"><h2 align="center" class="STYLE16">{{typeName[t]}}</h2></div>
				<div class="blank">
					<ul class="bg STYLE12">

						{% for i in articles[t] %}
						<li class="STYLE13"><a href="/article/{{i.id}}" target="_blank">{{i.title}}</a></li>
						{% endfor %}

						<li class="STYLE13"><a href="/article/1" target="_blank">                ...</a></li>
					</ul>
				</div>
			</div>
			{% endfor %}


	  </div>
	</div>

	<div class="jt"><a href="#"><img src="/static/images/icon_001@3x.png" alt="jiantou" width="25" height="25" align="middle"></a></div>
</div>
{% endblock %}
