{% extends "base.html" %}
{% block content %}
<div class="home">
		<div class="searchbox">
			<span class="searchlogo"><a href=""><img src="/static/images/searchicon.png" alt="搜索icon" align="middle"></a></span>
			<input type="text" class="search_text"style="background-color:rgba(189,195,199,0.5);border:none;">
	    </div>
		<div class="dllogo"><a href=""><img src="/static/images/dlicon.png" alt="下载icon" align="middle"></a>
		</div>
</div>
<div class="Layer1" style=" position:relative;z-index:-1">
	<div class="Layer2" style="position:absolute;">
		<img src="/static/images/333.png" alt="photo" height=900px width="100%"/>
	</div>
 		<img src="/static/images/IMG_3269.jpg" alt="black" height="100%" width="100%"/>
</div>
<div class="navg">

</div>
{% endblock %}
